body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
}

#header {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.event {
  width: 80%;
  margin: 8px;
  background-color: seashell;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 16px;
}

.eventTitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.eventText {
  text-overflow: ellipsis;
  white-space: pre-line;
  padding: 0 8px;
}

#cardContainer {
  overflow-x: scroll;
  display: flex;
  width: 90%;
  justify-content: center;
}

#cardContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 950px) {
  #cardContainer {
    justify-content: flex-start;
  }
}

.card {
  flex-shrink: 0;
  width: 260px;
  height: 300px;
  margin: 8px;
  background-color: lightblue;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  font-size: 16px;
  box-sizing: border-box;
}

.disabled {
  background-color: gray;
  cursor: auto;
}

.conditionContainer {
  margin: 8px;
}

.conditionBgColor {
  background-color: palegoldenrod;
}

.condition {
  font-size: 16px;
  padding: 8px;
}

.okConditionTextColor {
  color: red;
}

.ngConditionTextColor {
  color: blue;
}

.cardTitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.cardText {
  text-overflow: ellipsis;
  white-space: pre-line;
  padding: 0 8px;
}

.bold {
  font-weight: bold;
}

#chipContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 8px;
  max-width: 900px;
  overflow: auto;
  font-size: 16px;
  justify-content: center;
}

.chip1 {
  width: 80px;
  height: 30px;
  background-color: yellow;
  border: 1px solid #ccc;
  margin: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip2 {
  width: 80px;
  height: 30px;
  background-color: orange;
  border: 1px solid #ccc;
  margin: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip3 {
  width: 80px;
  height: 30px;
  background-color: red;
  border: 1px solid #ccc;
  margin: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resultMessage {
  white-space: pre-line;
}
